@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #2C3E50;
  --background-color: #F5F5F5;
  --success-color: #1DB95490;
  --danger-color: #DC3545;
  --dark-color: #222222;
  --muted-color: #727272;
  --neutral-color: #F0F0F0;
  --font-poppins: 'Poppins', sans-serif;
}